.rectangle {
    display: inline-block;
    width: 35%; /* Adjust the width as needed */
    vertical-align: top; /* Align to the top of the line */
    border: solid white;
    border-radius: 10px;
    margin: 40px;
    height: 700px;
  }
  
  .rectangle1 {
    display: inline-block;
    width: 55%; /* Adjust the width as needed */
    vertical-align: top; /* Align to the top of the line */
    border: solid white;
    border-radius: 10px;
    height: 700px;
    margin-top:40px;
  }
  .tab-1 {
    /* Remove width: auto; */
    display: block;
    overflow-x: auto;
  }
  
  
  
.plain-input {
        border: none; /* Remove the default border */
        border-bottom: 1px solid white; /* Add a bottom border to create a plain line */
        background: none; /* Remove the default background */
        outline: none; /* Remove the focus outline */
        width: 200px; /* Set the width as needed */
        font-size: 16px; /* Set the font size as needed */
      }
h1{
    text-align: center;
    color: white;
}
.details{
    margin-left: 30px;

}  
.details input {
    margin-top: -5px;
}
.details h4 {
    margin-bottom: 5px;
}
.plain-input::placeholder {
    font-size: 14px;
}
.buttons{
    margin-left: 30px;

}
.buttons .btn{
    display: block;
    margin-bottom: 10px; /* Add some spacing between the buttons */
    font-size: 20px; /* Increase the font size */
    padding: 10px 40px; /* Increase the padding to make the buttons larger */
    width: auto;
    border-radius: 10px;
  }
.buttons .btn:first-child {
    margin-top: 20px; /* Add more space above the "Submit" button */
    background-color: aqua;
    }
#getDetails {
      background-color:lightgreen;
      }
#clearvalues {
  background-color: red;
  }
.buttons{
  display: flex;
  justify-content: space-between
}
#clearvalues{
  display: block;
  margin-bottom: 10px; /* Add some spacing between the buttons */
  font-size: 20px; /* Increase the font size */
  padding: 10px 40px; /* Increase the padding to make the buttons larger */
  width: auto;
  border-radius: 10px;
  margin-left: 100px;
}
#getDetails{
  display: block;
  margin-top: 20px; 
  margin-bottom: 10px; /* Add some spacing between the buttons */
  font-size: 20px; /* Increase the font size */
  padding: 10px 40px; /* Increase the padding to make the buttons larger */
  width: auto;
  border-radius: 10px;
  margin-right: 100px;
}
.vertical-columns {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Set the direction to horizontal */
  }
  
  .column {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
.vertical-columns{
    border: 1px solid #ccc;
}
body{
  background-image: url(PLgQbl\ \(1\).webp);
}
#dlt{
  background-color: red;
}
#table{
  color: white;
}
h4{
  color: white;
}
  
    

